.App {
  text-align: center;
}

div ul li{
  list-style: none;
}

#btn{
  /* display: inline-block; */
  background-color: blueviolet;
  color:white;
  font-size: 1.2em;
  padding:20px 70px;
  cursor:pointer;
}